/**
 * Тут починається нормальний CSS
 */

.light-blue {
  background-color: #426466;
}

.dark-blue {
  background-color: #253e49;
}

.section {
  height: 100vh;
}

#top_logo {
  position: absolute;
  top: 4vh;
  left: calc(50% - 25vh + 2px);
  z-index: 1;
  width: 50vh;
}

/**
 * Start Button CSS
 */
.button {
  display: inline;
  padding: 8px 40px;
  border-radius: 16px;
  font-family: 'hooge05_55Cyr2';
  font-size: 3em;
  transition: 0.8s;
  color: white;
}

.button:hover {
  background-color: #3BAF0B;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.network-btn {
  background-color: #FFF !important;
  box-shadow: none !important;
}

.network-btn i {
  color: #253E49;
  margin: 36px 16px;
  transition: 0.8s;
}

.network-btn i:hover{
  color: #3BAF0B;
}
/**
 *END Button CSS
 */

/**
 * А тут він закінчується 
 */


* {
  box-sizing: border-box; }

a {
    color:white!important;
    text-decoration: none!important; }

a:hover {
    text-decoration: none!important;
}

h2 {
  font-family: 'hooge05_55Cyr2';
  color: #8eadad;
}

@media only screen and (max-width: 768px) {
  .pict img {
  height: auto!important;
  width: 75vw!important;
  }

  #cont .window p {
    font-size: 1em!important;
  }

  #cont .window .point {
    margin-top: 3px!important;
  }
}

#scrollToTop{
    padding:10px;
    border-radius: 200px;
    text-align:center;
    background-color:white;
    font-weight: bold;
    color: black!important;
    text-decoration: none;
    position:fixed;
    bottom:30px;
    left:30px;
    z-index: 1;
    display: none;
    transition-duration: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#scrollToTop:hover{
    text-decoration:none;
    background-color: #ff5555;
    transition-duration: 1s;
    color: white;
}

#hellopreloader>p{
  display:none;
}

#hellopreloader_preload{
  display: block;position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 200px;
  background: #253e49 url(http://hello-site.ru//main/images/preloads/ball-triangle.svg) center center no-repeat;
  background-size:109px;
}


#gal {
  text-align: center;
}

.window {
  height: 50%;
  width: 80%;
  background-color: #253E49;
}

@media screen and (max-device-width: 426px) {
  .window {
    margin: 25% auto;
  }
}

.bar {
  width: 100%;
  background: #3BAF0B;
  border: 2px solid;
  border-color: white;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bar p {
  margin: 1px 5%;
  font-family: 'hooge05_55Cyr2';
  font-size: 15pt;
  display: inline-block;
}

.point {
  height: 15px;
  width: 15px;
  border-radius: 100px;
  background: #253E49;
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 7px;
}

.firstp {
  margin-right: 25px
}

.thirdp {
  background-color: white;
}

.content {
  width: 100%;
  height: 92%;
  min-height: 300px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#question {
  position: relative;
  top: 0px;
  left: 0px;
}

#question.active{
  display: none;
}

.content .text p {
  display: inline-block;
  font-family: 'Play',sans-serif;
  font-weight: bold;
  font-size: 25pt;
  color: #3BAF0B;
  margin: 0% auto 0px ;
  padding: 5% 0px;
  text-align: justify;
}

.text img {
  position: relative;
  left: 0px;
  top: -15px;
}
.no {
  padding: 10px 53px;
}

@media screen and (max-device-width: 1025px) {
  .content .text p {
    margin: auto;
  }
  .text img {
    top: 0px;
  }
}

@media screen and (max-device-width: 770px) {
  .content .text p {
    font-size: 10pt;
  }
}

#ifyes {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 99;
  font-family: 'hooge05_55Cyr2';
  margin: 0px auto;
  padding: 10px 0px 0px;
  color: #253E49;
}

#ifyes h2{
  font-size: 92pt;
  margin: -5px;
  display: inline-block;
}

#ifyes h3 {
  margin: -20px;
  font-size: 40pt;
}

#ifyes h4 {
  color: #3BAF0B;
  font-size: 28pt;
}

#ifyes a{
  text-decoration: none;
}

@media screen and (max-device-width: 376px) {
  #ifyes h2{
    font-size: 88pt;
  }

  #ifyes h3 {
    font-size: 38pt;
  }

  #ifyes h4 {
    font-size: 27pt;
  }
}

@media screen and (max-device-width: 376px) {
  #ifyes h2{
    font-size: 76pt;
  }

  #ifyes h3 {
    font-size: 33pt;
  }

  #ifyes h4 {
    font-size: 23pt;
  }
}

#ifno {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 99;
  padding: 10%;
  font-size: 18pt;
  text-align: left;
  font-family: 'Play',sans-serif;
}

#ifno h2 {
  display: inline-block;
  color: #3BAF0B;
  font-size: 30pt;
  margin-top: 0px;
}

@media screen and (max-device-width: 770px) {
  #ifno {
    font-size: 10pt;
  }
  #ifno h2 {
    font-size: 10pt;
  }
}

#ifno.active {
  display: block;
}

#ifyes.active {
  display: block;
}

#cont .window {
  margin-top: 5%;
  height: 80%;
}

#cont .window p{
  font-size: 20pt;
}

#cont .window .point{
  margin-top: 12px;
}

.pict {
  width: 90%;
  margin: 5% auto;
  text-align: center;
}

.pict img {
  height: 60vh;
}

@media screen and (max-device-width: 321px) {
  .pict img {
    height: 60vh;
    margin-top: 15vh;
  }
}

@media screen and (max-device-width: 426px) {
  .pict {
    margin: 15% auto;
  }
}

.schedule{
  display: block;
  margin: 10% 10% 10% 5%;
  text-align: left;
  font-family: 'hooge05_55Cyr2';
}

.schedule h1 {
  color: #8eadad;
  font-size: 35pt;
}

.schedule h2 {
  color: #3baf0b;
  font-size: 30pt;
}

.schedule h3 {
  color: #8eadad  ;
  font-family: 'Play',sans-serif;
  font-size: 20pt;
}

@media screen and (max-device-width: 1024px){
  .schedule h1 {
    font-size: 30pt;
  }

  .schedule h2 {
    font-size: 25pt;
  }

  .schedule h3 {
    font-size: 15pt;
  }
}

.partners{
  position:relative;
}

.partners_1{
  display: inline-block;
  width: auto;
  max-width:200px;
  max-height:100px;
  height:auto;
  margin: 30px 50px 30px 50px;
  max-width: 170px;
}

.fa-angle-double-down {
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: white;
}
