/**
 * Тут починається нормальний CSS
 */

@media screen and (max-width: 767px)  {
  h2 {font-size: 2.4em !important;}

  h3 {font-size: 2em !important;}

  p {font-size: 1.2em !important;}

  .button {font-size: 1.6em !important;}

  .sidenav {padding-top: 40px !important;}

  .sidenav a {font-size: 1em !important;}

  .button span {display: none;}
}

body {font-family: 'hooge05_55Cyr2';}

.light-blue {background-color: #426466;}

.dark-blue {background-color: #253e49;}

.section {min-height: 100vh;}

#top_logo {
  position: absolute;
  top: 4vh;
  left: calc(50% - 25vh + 2px);
  z-index: 1;
  width: 50vh;
}

#scrollToTop {
  padding: 10px;
  border-radius: 200px;
  background-color: white;
  color: black !important;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 1;
  display: none;
  transition-duration: 0.8s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  text-align: center;
}

#scrollToTop:hover {
  background-color: #3BAF0B;
  transition-duration: 0.8s;
}

.partners_1 {
  max-width: 200px;
  margin: 32px;
}


/**
 * START Text
 */
h2 {
  font-size: 3.2em; 
  color: #8eadad;
}

h3 {
  font-size: 2.4em;
  color: #3BAF0B;
}

p {
  font-family: 'Play',sans-serif;
  font-size: 1.6em;
  color: #8eadad;
}
/**
 * END Text
 */


/**
 * START Buttons
 */
.button {
  display: inline;
  padding: 8px 40px;
  border-radius: 16px;
  font-family: 'hooge05_55Cyr2';
  font-size: 2.4em;
  transition: 0.8s;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #3BAF0B;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.network-btn {
  background-color: #FFF !important;
  box-shadow: none !important;
}

.network-btn i {
  color: #253E49;
  margin: 36px 16px;
  transition: 0.8s;
}

.network-btn i:hover{color: #3BAF0B;}
/**
 * END Buttons
 */


/**
 * START Navigation
 */
.sidenav {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #111;
  padding-top: 80px;
  transition: 0.4s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 1.6em;
  display: block;
  transition: 0.4s;
}

.sidenav a:hover {color: #3BAF0B !important;}

.menu-btn {
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-btn div {
  width: 36px;
  height: 2px;
  margin-bottom: 10px;
  background-color: #3BAF0B;
  transition: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-btn div:nth-of-type(1) {width: 28px;}

.menu-btn div:nth-of-type(2) {width: 12px;}

.menu-btn div:nth-of-type(3) {
  width: 20px;
  margin-bottom: 0px;
}

.menu-btn:hover div {
  width: 36px;
  transition: 0.4s;
}

.close-btn div {
  width: 36px !important;
  background-color: white;
}

.close-btn div:nth-of-type(1) {transform: translate(0, 12px) rotate(45deg);}

.close-btn div:nth-of-type(2) {opacity: 0;}

.close-btn div:nth-of-type(3) {transform: translate(0, -12px) rotate(-45deg);}

.close-btn:hover div {background-color: #3BAF0B;}
/**
 * END Navigation
 */


.arrow-down {
  position: absolute;
  width: 64px;
  height: 30px;
  top: 80vh;
  left: calc(50% - 32px);
  z-index: 1;
  cursor: pointer;
}

.arrow-down div {
  position: absolute;
  top: 0px;
  width: 32px;
  height: 4px;
  background-color: white;
  transition: 0.8s;
}

.arrow-down:hover div {
  background-color: #3BAF0B;
  transition: 0.8s;
}

.arrow-down div:nth-of-type(1), .arrow-down div:nth-of-type(3) {
  transform: translate(6px, 15px) rotate(45deg);
}

.arrow-down div:nth-of-type(2), .arrow-down div:nth-of-type(4) {
  transform: translate(-6px, 15px) rotate(-45deg);
  right: 0;
}

.arrow-down:hover div:nth-of-type(3), .arrow-down:hover div:nth-of-type(4) {
  top: 16px;
  transition: 0.8s;
} 

.gallery-img {width: 60%;}  

::-webkit-scrollbar {
    width: 4px;
    background-color: #111;
}

::-webkit-scrollbar-thumb {
  background-color: #3BAF0B;
}

/**
 * START Window
 */
.window {
  position: relative;
  height: 50%;
  width: 80%;
  background-color: #253e49;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.window > div {
  position: absolute;
  height: 100%;
  width: 100%;
}

.window .button {
  font-size: 1.6em;
  padding: 8px 32px;
}

.window-text {
  color: #253E49;
  margin-bottom: 0;
  font-weight: 600;
}

.bar {
  position: relative;
  height: 34px;
  width: 100%;
  background-color: #3BAF0B;
  border: 2px solid white;
  border-bottom: none;
  border-radius: 100px 100px 0px 0px;
}

.bar-header {
  position: absolute;
  left: 32px;
  top: 3px;
  font-size: 1.4em;
  color: #253E49;
}

.fa-arrow-left {
  margin: 0px 8px 1px 0px;
  font-size: 18px;
  cursor: pointer;
}

.points {
  height: 32px;
  width: auto;
  position: absolute;
  right: 16px;
  top: 0;
}

.points span {
  margin: 8px 8px 0px 0px;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: #253E49;
  display: inline-block;
}

.points span:nth-of-type(1) {background-color: white;}

.content {
  width: 100%;
  height: calc(100% - 34px);
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content input {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #3BAF0B;
  outline: none;
  font-size: 1.6em;
}
/**
 *END Window
 */

/**
 *START Poligon
 */
.poligon {
  position: absolute;
  top: 50px;
  left: calc(50% - 225px/2);
  cursor: pointer;
}

.poligon div {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 25px;
  width: 225px;
  z-index: 1;
}

.poligon div:nth-of-type(2) {top: 25px;}
.poligon div:nth-of-type(3) {top: 50px;}
.poligon div:nth-of-type(4) {top: 75px;}
.poligon div:nth-of-type(5) {top: 100px;}
.poligon div:nth-of-type(6) {top: 125px;}
.poligon div:nth-of-type(7) {top: 150px;}
.poligon div:nth-of-type(8) {top: 175px;}
.poligon div:nth-of-type(9) {top: 200px;}

.poligon span {
  height: 25px;
  width: 25px;
  background-color: transparent;
  display: inline-block;
  transition: 0.8s;
}
/**
 *END Poligon
 */

/**
 * А тут він закінчується 
 */



a {
    color:white!important;
    text-decoration: none!important; }

a:hover {
    text-decoration: none!important;
}


#hellopreloader>p{
  display:none;
}

#hellopreloader_preload{
  display: block;position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 200px;
  background: #253e49 url(http://hello-site.ru//main/images/preloads/ball-triangle.svg) center center no-repeat;
  background-size:109px;
}
